body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    color:black;
    background-color:antiquewhite;

}

.nav_bar {
    display: flex;
    background-color: #2d3c4c;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav_link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
}

.flex_container_vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-bottom: 20px;
}

.flex_container1{
    display:flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px;
    align-items: flex-start;
}

.flex_container2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.title{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    width: 100%;
}

.footer{
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
    margin-top: 30px;
}

.profile_pic{
    width: 250px;
    border: 3px solid;
    display: block;
    margin: 0 auto;
}

.flex_subtext{
    background: white;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 20px;
}